@model WebShop.ViewModels.Cart.CartIndexModel
@Html.AntiForgeryToken()


@{
    ViewData["Title"] = "Cart";
}

<h1>Your Cart</h1>


@if (Model.CartItemsList.Any())
{
    <form method="post">
        <input type="submit" asp-action="RemoveAllItems" class="btn btn-default" value="Clear">
    </form>
    <form method="post">
        <div class="catalog">
            @foreach (var cartItem in Model.CartItemsList)
            {
                <div id="item-@cartItem.ID" class="catalog__item">
                    <div class="catalog__item__img__box">
                        <img src="@cartItem.ImageURL" alt="@cartItem.Name)" class="catalog__item__img" />
                    </div>
                    <h2><a asp-controller="Product" asp-action="Details" asp-route-id="@cartItem.ProductID" class="catalog__item__name">@cartItem.Name</a></h2>
                    <h3 class="catalog__item__price">@string.Format("{0:C}", cartItem.Price)</h3>

                    <a asp-action="RemoveFromCart" asp-route-id="@cartItem.ID">-</a>
                    <h2>@cartItem.Amount</h2>
                    <a asp-controller="Product" asp-action="AddTocart" asp-route-id="@cartItem.ProductID">+</a>

                    <input type="submit" asp-action="RemoveFromCart" asp-route-id="@cartItem.ID" class="catalog__item__tocart btn btn-default" value="Remove Item">
                </div>
                <input type="hidden" asp-for="@cartItem.ID" name="id" />
                <input type="hidden" asp-for="@cartItem.Name" name="name" />
                <input type="hidden" asp-for="@cartItem.ImageURL" name="imageURL" />
                <input type="hidden" asp-for="@cartItem.Price" name="price" />
                <input type="hidden" asp-for="@cartItem.ProductID" name="productID" />
            }
        </div>
        Total:
        <h2 id="total">
            @{decimal total = 0; }
            @foreach (var cartItem in Model.CartItemsList)
            {
                total += (cartItem.Price * cartItem.Amount);
            }
            @string.Format("{0:C}", total)
        </h2>
    </form>
}
else
{
    <h2>No Items</h2>
}

